<div class="container-fluid pb-5 bg-black">
  <div class="row">
    <div class="col-xl-12">
      <div class="header d-flex justify-content-between align-items-center">
        <div>
          <h1 class="my-name position-absolute text-light">Katie Reed</h1>
          <p class="my-p position-absolute text-light text-center">
            Web Developer & Designer
          </p>
        </div>
        <div>
          <img
            src="../../assets/hero-slide-1.jpg"
            class="w-75 border rounded-2"
            alt=""
          />
        </div>
      </div>
      <div class="btn btn-outline-light position-absolute">CONTACT ME</div>
    </div>
  </div>
</div>
