<div class="p-5 mb-5">
  <div class="text-center">
    <h2>users</h2>
  </div>
  <div class="d-flex align-items-center justify-content-center">
    <input type="search" class="w-75 h-auto" [(ngModel)]="search" />
    <button
      type="button"
      class="btn btn-dark text-white w-25 m-2"
      (click)="filterUsersByEmail()"
    >
      Search
    </button>
  </div>
  <p class="mt-5 fw-bold">
    Active UserName :{{ clickedUserName | uppercase }}
    <span class="fw-medium text-info"></span>
  </p>
  <div class="users row">
    <div
      class="card bg-secondary-subtle p-3 col-5 m-5 position-relative"
      *ngFor="let user of filterUsersByEmail()"
    >
      <app-user-card
        [userItem]="user"
        (sandUserName)="receivedName($event)"
      ></app-user-card>
    </div>
  </div>
</div>
