<div class="container-fluid py-5 bg-black">
  <div class="row">
    <h1 class="text-center w-100 text-light">Skills</h1>
    <div class="m-auto w-75">
      <p class="text-center mt-4 fs-4 text-light">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, distinctio.
        Excepturi dolorem, iste accusamus ipsam delectus nesciunt dolorum
        molestiae, odit eligendi incidunt sit harum quibusdam nostrum recusandae
        voluptatibus est
      </p>
    </div>
    <div class="pt-5 d-flex justify-content-around align-items-center">
      <div class="col-xl-2 col-lg-2">
        <h2 class="text-light">My Fouce</h2>

        <hr class="w-25 text-light" />
        <p class="text-light fs-3">Ui/Ux</p>
        <p class="text-light fs-3">Responsive Design</p>
        <p class="text-light fs-3">Web Design</p>
        <p class="text-light fs-3">Mobile App Design</p>
      </div>
      <div class="col-xl-7 col-lg-6 pt-5">
        <div class="progress mb-4">
          <div
            class="progress-bar"
            role="progressbar"
            aria-label="Basic example"
            aria-valuenow="0"
            style="width: 80%"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <div class="progress mb-4">
          <div
            class="progress-bar"
            role="progressbar"
            aria-label="Basic example"
            style="width: 90%"
            aria-valuenow="25"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <div class="progress mb-4">
          <div
            class="progress-bar"
            role="progressbar"
            aria-label="Basic example"
            style="width: 90%"
            aria-valuenow="50"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <div class="progress mb-4">
          <div
            class="progress-bar"
            role="progressbar"
            aria-label="Basic example"
            style="width: 85%"
            aria-valuenow="75"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <div class="progress mb-4">
          <div
            class="progress-bar"
            role="progressbar"
            aria-label="Basic example"
            style="width: 100%"
            aria-valuenow="100"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
