<div class="container py-5">
  <div class="row">
    <div class="col-xl-12">
      <h1>Portfolio</h1>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card odd">
          <div
            class="card-body d-flex justify-content-center align-items-center"
          >
            <h5 class="card-title">Web design</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card even">
          <div
            class="card-body d-flex justify-content-center align-items-center"
          >
            <h5 class="card-title">Mobile design</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card odd">
          <div
            class="card-body d-flex justify-content-center align-items-center"
          >
            <h5 class="card-title">LOGO design</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card even">
          <div
            class="card-body d-flex justify-content-center align-items-center"
          >
            <h5 class="card-title">Web Application</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card odd">
          <div
            class="card-body d-flex justify-content-center align-items-center"
          >
            <h5 class="card-title">Mobile Application</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card even">
          <div
            class="card-body d-flex justify-content-center align-items-center"
          >
            <h5 class="card-title">PWA Develepment</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
